<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>The Bill Form</h2>
<p>Fil in the form and click the button to get results.</p>
<form action="/bill_form_page" method="post">
    {{form.amount.label}} {{form.amount}}
    <br>
    {{form.period.label}} {{form.amount}}
    <hr>
    <p>First Flatmate</p>
    {{form.name1.label}} {{form.name1}}
    <br>
    {{form.days_in_house1.label}} {{form.days_in_house1}}
    <hr>
    <p>Second Flatmate</p>
    {{form.name2.label}} {{form.name2}}
    <br>
    {{form.days_in_house2.label}} {{form.days_in_house2}}
    <br>
    {{form.button}}
    <br>
    {% if result %}
    {{name1}} pays {{amount1}} <br>
    {{name2}} pays {{amount2}}
    {% endif %}
</form>
</body>
</html>